.nav {
    display: flex;
    list-style: none;
    gap: var(--space-xxl);
    padding: var(--space-m);
    font-size: var(--font-m);
}

.nav-container {
    margin-right: 4rem;
    display: flex;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    margin-left: 4rem;
    font-size: var(--font-s);
}

.img-logo {
    width: 75px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    
}

.hero p {
    width: 500px;
    font-size: var(--font-m);
}

.hero h1 {
    font-size: 2.5rem;
}

.hero .button-primary {
    margin-top: var(--space-l);
}

.hero-img {
    width: 350px;
    height: 250px;
    border-radius: 12px;
    box-shadow: var(--shadow-lg);
    object-fit: cover;
}

.hero-img-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 3rem;
}