/* 
type scale 
colors 
button/links 
components 
spacing 
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');


:root {
    /* Font Style */
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif
    
    /* Font Size */
    --font-xxs: 0.625rem; /* 10px */
    --font-xs: 0.75rem;   /* 12px */
    --font-s: 0.875rem;   /* 14px */
    --font-m: 1rem;       /* 16px */
    --font-l: 1.25rem;    /* 20px */
    --font-xl: 1.5rem;    /* 24px */
    --font-xxl: 2rem;     /* 32px */

    /* font weights */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;

    /* Spacing */
    --space-xxs: 0.25rem; /* 4px */
    --space-xs: 0.5rem;   /* 8px */
    --space-s: 0.75rem;   /* 12px */
    --space-m: 1rem;      /* 16px */
    --space-l: 1.5rem;    /* 24px */
    --space-xl: 2rem;     /* 32px */
    --space-xxl: 3rem;    /* 48px */

    /* Colors */
    --color-primary: #2c7a7b;   /* teal */
    --color-secondary: #319795; /* lighter teal */
    --color-accent: #f6e05e;    /* soft yellow */
    --color-bg: #f7fafc;        /* light gray background */
    --color-surface: #ffffff;   /* white cards/sections */
    --color-border: #e2e8f0;    /* subtle border gray */
    --color-text: #1a202c;      /* very dark gray */
    --color-text-light: #718096; /* lighter gray */
    --color-success: #48bb78;   /* green for success */
    --color-warning: #ecc94b;   /* yellow for warning */
    --color-error: #e53e3e;     /* red for errors/alerts */

    /* Shadow */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.15);
    --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.2)
    
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: var(--weight-bold);
}

p {
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
}

.button-primary {
    background-color: var(--color-primary);
    color: var(--color-surface);
    padding: var(--space-s);
    width: 175px;
    text-align: center;
    border-radius: 12px;
    font-weight: var(--weight-medium);
    border: none;
    cursor: pointer;
}

.button-primary:hover {
    background-color: var(--color-secondary);
}

.button-secondary {
  background: var(--color-accent);
  color: var(--color-text);
  padding: var(--space-s);
  width: 150px;
  border-radius: 12px;
  font-weight: var(--weight-medium);
  border: none;
  cursor: pointer;
  text-align: center;
}

.button-secondary:hover {
  background: #ecc94b; /* darker yellow */
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.nav {
    display: flex;
    list-style: none;
    gap: var(--space-xxl);
    padding: var(--space-m);
    font-size: var(--font-m);
}

.nav-container {
    margin-right: 4rem;
    display: flex;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    margin-left: 4rem;
    font-size: var(--font-s);
}

.img-logo {
    width: 75px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    
}

.hero p {
    width: 500px;
    font-size: var(--font-m);
}

.hero h1 {
    font-size: 2.5rem;
}

.hero .button-primary {
    margin-top: var(--space-l);
}

.hero-img {
    width: 350px;
    height: 250px;
    border-radius: 12px;
    box-shadow: var(--shadow-lg);
    object-fit: cover;
}

.hero-img-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 3rem;
}

